<section class="social">
    <ul class="social__list">
        <li class="social__icon">
            <a class="social__link" href="https://github.com/andreasvirkus/software-fairy-tales-podcast-web"
                title="View the code of this site">
                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
                    <path d="M8 0C3.58 0 0 3.582 0 8c0 3.535 2.292 6.533 5.47 7.59.4.075.547-.172.547-.385 0-.19-.007-.693-.01-1.36-2.226.483-2.695-1.073-2.695-1.073-.364-.924-.89-1.17-.89-1.17-.725-.496.056-.486.056-.486.803.056 1.225.824 1.225.824.714 1.223 1.873.87 2.33.665.072-.517.278-.87.507-1.07-1.777-.2-3.644-.888-3.644-3.953 0-.873.31-1.587.823-2.147-.09-.202-.36-1.015.07-2.117 0 0 .67-.215 2.2.82.64-.178 1.32-.266 2-.27.68.004 1.36.092 2 .27 1.52-1.035 2.19-.82 2.19-.82.43 1.102.16 1.915.08 2.117.51.56.82 1.274.82 2.147 0 3.073-1.87 3.75-3.65 3.947.28.24.54.73.54 1.48 0 1.07-.01 1.93-.01 2.19 0 .21.14.46.55.38C13.71 14.53 16 11.53 16 8c0-4.418-3.582-8-8-8"/>
                </svg>
            </a>
        </li>
        <li class="social__icon">
            <a class="social__link" href="mailto:write@podcast.mail" title="Send us an e-mail!">
                <svg viewBox="0 0 32 32">
                    <g>
                		<path d="M30 1c.6 0 1 .5 1 1v21c0 .5-.4 1-1 1H20l-4 7-4-7H2c-.5 0-1-.5-1-1V2c0-.5.5-1 1-1h28m0-1H2C.953 0 0 .953 0 2v21c0 1.047.953 2 2 2h9.42l3.712 6.496c.178.312.51.504.868.504s.69-.192.868-.504L20.58 25H30c1.103 0 2-.897 2-2V2c0-1.103-.897-2-2-2z"></path>
                	</g>
                </svg>
            </a>
        </li>
        <li class="social__icon">
            <a class="social__link" rel="alternate" type="application/rss+xml" href="/rss.xml" title="Hear first of our podcasts (RSS)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans"
                        d="M 3 0 C 1.3550302 0 0 1.3550302 0 3 L 0 47 C 0 48.644459 1.3544268 50 3 50 L 47 50 C 48.645063 50 50 48.645063 50 47 L 50 3 C 50 1.3544268 48.644459 0 47 0 L 3 0 z M 3 2 L 47 2 C 47.563541 2 48 2.4355732 48 3 L 48 47 C 48 47.562937 47.562937 48 47 48 L 3 48 C 2.4355732 48 2 47.563541 2 47 L 2 3 C 2 2.4349698 2.4349698 2 3 2 z M 13 8 C 11.591454 8 10.193898 8.1202125 8.84375 8.3125 A 1.0001 1.0001 0 1 0 9.15625 10.28125 C 10.418102 10.101538 11.690546 10 13 10 C 27.95551 10 40 22.028623 40 37 C 40 38.307926 39.899449 39.58079 39.71875 40.84375 A 1.0001 1.0001 0 1 0 41.6875 41.15625 C 41.880801 39.80521 42 38.408074 42 37 C 42 20.953377 29.03049 8 13 8 z M 13 21 C 11.514978 21 10.102821 21.221326 8.75 21.59375 A 1.0004882 1.0004882 0 1 0 9.25 23.53125 C 10.447179 23.201674 11.709022 23 13 23 C 20.76249 23 27 29.229634 27 37 C 27 38.289427 26.800156 39.520807 26.46875 40.71875 A 1.0087508 1.0087508 0 1 0 28.40625 41.28125 C 28.780844 39.927193 29 38.484573 29 37 C 29 28.154366 21.83751 21 13 21 z M 13 32 C 10.24957 32 8 34.246395 8 37 C 8 39.746798 10.246858 42 13 42 C 15.753142 42 18 39.746798 18 37 C 18 34.246395 15.75043 32 13 32 z M 13 34 C 14.67557 34 16 35.321605 16 37 C 16 38.667202 14.672858 40 13 40 C 11.327142 40 10 38.667202 10 37 C 10 35.321605 11.32443 34 13 34 z"
                        overflow="visible" enable-background="accumulate" font-family="Bitstream Vera Sans"></path>
                </svg>
            </a>
        </li>
    </ul>
</section>
